  .greeting-box {
    background-color: #0b0c3f;
    color: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
  }

  .colo-blan{
    color:  rgb(255,0,90);
  }

  .progress-box {
    background: linear-gradient(45deg, #c20078, #ec5fa8);
    color: white;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .progress-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 8px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    font-size: 0.8rem;
  }