  body {
      padding: 30px;
    }

    .certificado {
      background-image: url(../Sources/fondo\ 1-01.png) !important;
      background-repeat: no-repeat !important;
    /*   width: 1000px; */
    /*   max-width: 100%; */
    width: 100%;
      padding: 50px;
      margin-top: 30px;
    }

    .firma {
      border-top: 2px solid #ccc;
      width: 200px;
      margin: 10px auto 0;
      font-size: 0.9rem;
      text-align: center;
    }

    .medalla {
      width: 80px;
      margin: auto;
    }

    .nombre-logo {
      font-size: 1.8rem;
      color: #6b127e;
      font-weight: bold;
    }

@font-face {
    font-family: "Simonetta";
    src: url(../Sources/Simonetta-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: "Simonetta";
    font-weight: normal;
}

h2{
    font-family: "Simonetta";
    font-weight: normal;
}

@font-face {
    font-family: "Simonetta";
    src: url(../Sources/Simonetta-Regular.otf);
    font-weight: normal;
    font-style: normal;
}