* {
    margin: 30px;
}

body {
    transition: background-color 0.5s ease, color 0.5s ease;
}

@font-face {
    font-family: "CHICKEN PIE";
    src: url(../Sources/CHICKEN\ Pie.otf);
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: "CHICKEN PIE";
    font-weight: normal;
}
