*{
    padding: 1px;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(255,0,90)!important;
}

a {
    color: #fff !important;
    /* font-size: 30px !important; */
}
.color {
    color: #fff !important;
}

.w-33 {
    width: 33% !important;
}