*{
    margin: 2px !important;
    
}
body {
    background-color: #F5F0F1 ;
    font-family: Arial, sans-serif;
}
.module-title {
    font-weight: bold;
    text-align: center;
}

.ico{
    color: #e74c8a;
}

a {
    text-decoration: none;
}

.encu {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 30px;
}

.w-15{
    width: 19% !important;
}

@font-face {
    font-family: "CHICKEN PIE";
    src: url(../Sources/CHICKEN\ Pie.otf);
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: "CHICKEN PIE";
    font-weight: normal;
}

h4{
    font-family: "CHICKEN PIE";
    font-weight: normal;
}

h2{
    font-family: "CHICKEN PIE";
    font-weight: normal;
}

h3{
    font-family: "CHICKEN PIE";
    font-weight: normal;
}

.module-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}
.box {
    width: 80px;
    height: 60px;
    background-color: gray;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.box.active {
    background-color: #e74c8a;
}
.start-btn {
    background-color: #1a0033;
    color: white;
    border: none;
    padding: 8px 15px;
    font-weight: bold;
    border-radius: 5px;
}
.start-btn:hover {
    background-color: #3a0055; }
    
.box.active1 {
    background-color: #d556f5;
}
.dance-title {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    font-size: 1.3rem;
}

.description {
    text-align: left;
    font-size: 1rem;
}
.badge-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}
.badge-box {
    text-align: center;
}
.badge-img {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.evaluate-btn {
    background-color: #1a0033;
    color: white;
    border: none;
    padding: 8px 20px;
    font-weight: bold;
    border-radius: 5px;
    
}
.evaluate-btn:hover {
    background-color: #3a0055;
}

.pregunta {
    margin-bottom: 20px;
}

.correcta {
    color: green; font-weight: bold; 
}

.incorrecta {
    color: red; font-weight: bold; 
}

.respuesta-correcta {
    margin-top: 5px; 
}