* {
    padding: 10px;
}

.bg-gris {
    background-color: darkgrey;
}

.bg-black {
    background-color: black;
}

.w-15 {
    width: 15%;
}

@font-face {
    font-family: "CHICKEN PIE";
    src: url(./Sources/CHICKEN\ Pie.otf);
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: "CHICKEN PIE";
    font-weight: normal;
}