body{
    background-color: #F5F0F1;
}

@font-face {
    font-family: "CHICKEN PIE";
    src: url(../Sources/CHICKEN\ Pie.otf);
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: "CHICKEN PIE";
    font-weight: normal;
}

h3{
    font-family: "CHICKEN PIE";
    font-weight: normal;
}

.h{
    font-family: "CHICKEN PIE";
    font-weight: normal;
}

.w-15{
    width: 19% !important;
}

.whit{
    background-color: white;
}

.card{
    width: 100%;
    height: 1000px;
}

.gradient-card {
    background: rgb(255,0,90);
background: linear-gradient(180deg, rgba(255,0,90,1) 4%, rgba(233,101,175,1) 37%, rgba(150,35,251,1) 70%, rgba(87,41,90,1) 95%);
}

.c-black{
    color: rgb(65, 64, 51);
}

.w-63{
    width: 63% !important;
}

.w-33{
    width: 36%;
}

.fondo1{
    background-image: url(../Sources/mancha1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fondo2{
    background-image: url(../Sources/mancha2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fondo3{
    background-image: url(../Sources/mancha3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* .gradient-card-img {
    background-image: url("../Pages/tarjeta degradado.png");
    background-size: cover;
} */